
.banner {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap

}
body {
    cursor: url('support/mouseA.svg'), auto; 
    background-image: url("support/hbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-family: "Trebuchet MS", "Verdana", sans-serif;
    font-size:larger;
}

body ::selection {
    background-color: rgba(186, 255, 48, 0.76);
}
a :hover {
    cursor: url('support/mouseB.svg'), auto;
}
.rb {
    text-align: center;
    font-size: 8em;
    font-weight: 800;
    flex: 1;

    background-image: 
    linear-gradient(to right, #FF3030, #ED9A23, #FFD975, #D8FF5F, #6FFF75, #70FFF9, #6EA3FF, #AB5DFF, #FF58D8, #FF3030);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 120s linear infinite;

    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}


@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}
p {
    color: black;
    font-family: "Trebuchet MS";
    /*font-size: 20px;*/
}
.blocka {

    background-image: 
    linear-gradient(to top, #E4FFF6, #FFFEFE);
    padding: 2em;
    border-radius: 1em;
    width:90%;
    display:block;
    margin: 0 auto 5%;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li {
    padding-right: 4em;
    padding-top: 2em;
    text-decoration: none;
}

p.nbar:hover {
    color: blue;
}
.nbar {
    width: 80%;
    font-weight: 300;
    text-align: center;
    background-image: 
    linear-gradient(to top, #E4FFF6, #FFFEFE);
    padding: 1em;
    border-radius: 0.5em;
}

table {
    font-family: "Trebuchet MS";
    border-collapse: collapse;
    width: 100%;
    background-color: #e5f9ee;

}

td,
th {
    border: 1px solid #dddddd;
    padding: .5em;
    font-weight: 200;
}

tr:nth-child(even) {
    background-color: #f0fdf7;
}
.thead {
    font-weight: 800;
    text-align: left;
}

span.larger { font-size: 2em; padding-left:.5em;
    
}

/* CSS for mousetrails, works with rainbow.js */
 a { 
  cursor: pointer; /* ebb: Make sure the cursor appears over links */
}

 /* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: fuchsia;
} 
.box {
    position: absolute;
    animation: rotate 2.5s infinite linear;
    margin: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 9999;
    border-radius: 50%;
}
 @keyframes rotate {
   100% {
     transform: rotate(360deg);
   }
 }


